
.btn-primary {
    border: 10px;
}

.btn-success {
    border: 0;
}


.btn-round {
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;
    
    &.btn-lg {
        padding: 15px 40px;
    }
}