

/* ==========================================================================
   No Gutter
   ========================================================================== */

.row.no-gutter {
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutter [class^="col-"],
.row.no-gutter [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

.row.gutter-10 {
	margin-right: -5px;
	margin-left: -5px;
}

.row.gutter-10 [class^="col-"],
.row.gutter-10 [class*=" col-"] {
	padding-right: 5px;
	padding-left: 5px;
}

.row.gutter-20 {
	margin-right: -10px;
	margin-left: -10px;
}

.row.gutter-20 [class^="col-"],
.row.gutter-20 [class*=" col-"] {
	padding-right: 10px;
	padding-left: 10px;
}

.row.gutter-50 {
	margin-right: -25px;
	margin-left: -25px;
}

.row.gutter-50 [class^="col-"],
.row.gutter-50 [class*=" col-"] {
	padding-right: 25px;
	padding-left: 25px;
}