.internship-intro {
    background: #ffffff;
    padding: 30px 0;
    
    .row{
        margin-top: 30px;
        #text{
            padding-top:15px;
        }
    }
    
    .turn{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
    h2 {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 0 10px 0;
    }
    p {
        font-size: 16px;
        font-weight: 200;
    }
    ul {
        margin-bottom: 30px;
        li {
            font-size: 22px;
            height: auto;
            line-height: 30px;
            font-weight: normal;
            margin-bottom: 20px;
        }
    }
    .cta {
        margin: 15px 0 0 0;
    }  
    .deadline {
        text-align: left;
        color: black;
        font-size: 22px;
        margin: 10px 0 0 0;
        font-weight: bold;
        padding-top: 15px;
    }
    hr {
        width: 80%;
        border-color: #ffba00;
        margin-top: 70px;
    }

}


@media (max-width: $screen-xs-max) {

    
    .internship-intro {  
        padding: 60px 0;        
        h2 {
            font-size: 20px;
            margin: 0 0 20px 0;
        }
        h3{
            font-size:15px;
        }
        p {
            font-size: 14px;
        }
        .deadline{
            font-size: 14px;
        }
        .cta {
            margin: 20px 0 0 0;
        }
        ul {
            li {
                font-size: 14px;
                height: auto;
                line-height: 17px;
                font-weight: 400;
            }
        }
    }
}


@media (min-width:$screen-md-min) {
    .internship-intro {
        padding: 70px 0;
                
        h2 {
            font-size: 32px;
            margin: 0 0 20px 0;
        }
        h3{
            font-size:20px;
        }
        p {
            font-size: 14px;
        }
        .cta {
            margin: 20px 0 0 0;
        }
      
    }
}


@media (min-width:$screen-lg-min) { 
    
    .internship-intro {
        padding: 70px 0;
        
        h2 {
            font-size: 72px;
            margin: 0 0 20px 0;
        }
        p {
            font-size: 20px;
        }
        .cta {
            margin: 20px 0 0 0;
        }
        .internship-intro ul li {
            font-size: 14px;
            margin-bottom: 15px;
        }
    }

}