.intro {
    background: #ffffff;
    text-align: center;
        
    h2 {
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        margin: 70px 0 10px 0;
    }
    p {
        font-size: 16px;
        font-weight: 200;
        color: #777777;
    }
    .cta {
        margin: 15px 0 0 0;
    }  
}


@media (min-width:$screen-sm-min) {
    .intro {
    
        
        h2 {
            font-size: 20px;
            font-weight: 800;
            text-transform: uppercase;
            margin: 30px 0 10px 0;
        }
        p {
            font-size: 20px;
        }
        .cta {
            margin: 20px 0 0 0;
        }
    }
}


@media (min-width:$screen-md-min) {
    .intro {
 
        
        h2 {
            font-size: 20px;
            font-weight: 800;
            text-transform: uppercase;
            margin: 30px 0 10px 0;
        }
        p {
            font-size: 20px;
        }
        .cta {
            margin: 20px 0 0 0;
        }
    }
}


@media (min-width:$screen-lg-min) { 
    
    .intro {
       
        
        h2 {
            font-size: 72px;
            margin: 0 0 40px;
            line-height: 88px;
            font-weight: bold;
        }
        p {
            font-size: 20px;
        }
        .cta {
            margin: 20px 0 0 0;
        }
    }

}